
<div class="users-header">
<h1>Welcome to Rails Blog!</h1>
<a href="/posts/new"><button type="button" class="btn">Create a new Post</button></a>
</div>
<% if flash[:notice] %>
            <p class="notice"><%= flash[:notice] %></p>
        <% end %>

<% @users.each do |user| %>
    <%= link_to user_path(user) do %>
        <%= render 'shared/user', user: user %>
    <% end %>
<% end %>
