<%= render 'shared/user', user: @user %>
    <div class="bio">
        <p> Bio: <%= @user.bio%> </P>      
    </div>  

  <% @user.recent_posts.each do |post| %>
    <%= render 'shared/post', post: post %>
  <% end %>

   