<h1> here go the detail of specific user </h1>

    <h2> <%= @user.name %> </h2>
    <P> User ID:  <%= @user.id %></P>
    <p>Number of Posts: <%= @user.posts_counter%> </p>
    <p> Bio: <%= @user.bio%> </P>

   