<%= render 'shared/user', user: @user %>
    <div class="bio">
        <p> Bio: <%= @user.bio%> </P>      
    </div>  

  <% @user.recent_posts.each do |post| %>
    <%= link_to user_posts_path(@user) do %>
    <%= render 'shared/post', post: post %>
    <% end %>
  <% end %>

   