/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #2d2d2d;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

.user {
  background-color: #32314e;
  border: 1px solid #32314e;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #32314e;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-image {
  border: 1px solid #32314e;
  border-radius: 10px;
  height: 80px;
  width: 80px;
}

.user-detail {
  background-color: #aaa6ca;
  border: 1px solid #32314e;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.user-detail:hover {
  background-color: #2d2d2d;
}

.post-number {
  vertical-align: bottom;
}

.bio {
  background-color: #aaa6ca;
  border: 1px solid #32314e;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #32314e;
  padding: 10px;
  margin-bottom: 10px;
}

.post {
  background-color: #aaa6ca;
  border: 1px solid #32314e;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #32314e;
  padding: 10px;
  margin-bottom: 10px;
}

.post:hover {
  background-color: #2d2d2d;
}

.counters {
  text-align: end;
}

.see-posts {
  text-align: center;
}

.see-posts-btn {
  background-color: #aaa6ca;
  border: 1px solid #32314e;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #32314e;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.see-posts-btn:hover {
  background-color: #2d2d2d;
}

.comments {
  background-color: #aaa6ca;
  border: 1px solid #32314e;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #32314e;
  padding: 10px;
  margin-bottom: 10px;
}

.post-detail {
  background-color: #aaa6ca;
  border: 1px solid #32314e;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #32314e;
  padding: 10px;
  margin-bottom: 10px;
}

.post-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-comments {
  background-color: #aaa6ca;
  border: 1px solid #32314e;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #32314e;
  padding: 10px;
  margin-bottom: 10px;
}

.btn {
  margin-top: 1em;
  width: 12em;
  height: 3em;
  font-size: initial;
}

.users-header {
  display: flex;
  justify-content: space-between;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 30px;
  align-items: center;
}
.login-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 30px;
  align-items: center;
}
.login-container form .actions {
  display: flex;
}

.login-container form,
.login-container input {
  width: 100%;
  margin-bottom: 10px;
}

.sign-up-container form,
.sign-up-container input {
  width: 100%;
  margin-bottom: 10px;
}